@model List<Department>
@{
    ViewData["Title"] = "Index";
}
<a href="/Department/New" class="btn btn-primary">Add New</a>
<table class="table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Manger Name</th>
        </tr>
    @foreach (var item in Model)
    {
        <tr>
        <td>@item.Name</td>
        <td>@item.ManagerName</td>
        </tr>
    }

</table>

